[phases.setup]
nixPkgs = ["nodejs-22_x", "pnpm", "ffmpeg"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start"

[variables]
NODE_ENV = "production"
